#
# Default configuration options for Tapicero
#

# couch connection configuration
connection:
  protocol: "http"
  host: "localhost"
  port: 5984
  username: ~
  password: ~
  prefix: ""
  suffix: ""

# file to store the last processed user record in so we can resume after
# a restart:
seq_file: "/var/log/leap/tapicero.seq"

# Configure log_file like this if you want to log to a file instead of syslog:
# log_file: "/var/leap/log/tapicero.log"
log_level: debug

# tapicero specific options
options:
  # prefix for per user databases:
  db_prefix: "user-"

  # security settings to be used for the per user databases
  security:
    admins:
      names: []
      roles: []
    members:
      names: 
        - soledad
      roles: []

